
*{
    margin: 0;
    padding: 0;
}

a{
    color: #000;
    text-decoration: none;
}


body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

:root{
    --primary:#C83F46;
    --secondary:#fff;
    --black:#222222;
}

span{
    font-family: "Playball", cursive;
}

p {
    font-family: "Roboto", sans-serif;
}


/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
    .container:after {
        content: "";
        display: table;
        clear: both;
    }
    #navigationWrap {
        display: none;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background: black;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0px;
        padding: 50px 0;
        overflow: hidden;
        padding-top: 80px;
        z-index: 2;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    nav ul li {
        font-family: Bebas Neue;
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
/* nav ul li:first-child {
     font-size: 8vh;
     overflow: visible;
} */
    nav a {
        color: white;
        -o-transition:.3s;
        -ms-transition:.3s;
        -moz-transition:.3s;
        -webkit-transition:.3s;
        transition:.3s;
        text-decoration: none;

    }
    nav a:hover {
        color:var(--primary);
    }
/* .navbar {
     position: fixed;
     top: 20px;
     left: 20px;
     width: 45px;
     height: 45px;
     z-index: 20;
     cursor: pointer;
} */

    .navbar i {
        font-size: 38px;
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px;
        padding-top: 13px;
        padding-bottom: 8px;
    }
    .close {
        display: none;
        opacity: 0;
        position: fixed;
        top: 26px;
        right: 26px;
        width: 45px;
        height: 45px;
        z-index: 20;
        cursor: pointer;
    }

    .close i {
        font-size: 28px;
    }

    .social {
        display: flex;
        align-items: center;
        column-gap: 22px;
    }

    .social a {
        color: var(--secondary);
        -o-transition:.3s;
        -ms-transition:.3s;
        -moz-transition:.3s;
        -webkit-transition:.3s;
        transition:.3s;
        text-decoration: none;
        font-size: 36px;
    }
    .social a:hover {
        color:var(--primary);
    }

    .logo-img{
        width: 300px;
    }

    .header-right{
        display: flex;
        align-items: center;
        column-gap: 22px;
    }

    select {
        word-wrap: normal;
        color: var(--secondary);
        background-color: var(--black);
    }


    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #C83F46;
        --bs-btn-border-color: #C83F46;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #C83F46;
        --bs-btn-hover-border-color: #C83F46;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #C83F46;
        --bs-btn-active-border-color: #C83F46;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #C83F46;
        --bs-btn-disabled-border-color: #C83F46;
        font-family: Bebas Neue;
        font-size: 22px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
        width: 180px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    @media(max-width:768px) {
        #haederbtn-contact {
            display: none;
        }
    }
 
/*--------------------------------------------------------------
# header End
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# loading
--------------------------------------------------------------*/

  .loading-block {
    position: fixed;
    background: #ffffff;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loading-block_logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.loading-block_logo img {
    width: 260px;
}

.fadeUp {
    opacity: 0;
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeUpAnime {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(100px);
    }
}
  
/*--------------------------------------------------------------
# loading End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.progress-wrap {
	position: fixed;
    right: 15px;
	bottom: 50px;   
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 20%);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--secondary);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
/* 	background-image: linear-gradient(298deg, var(--red), var(--yellow)); */
    /* background-color: #000; */
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: var(--secondary);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


/*--------------------------------------------------------------
# Back to top button END
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Banner 
--------------------------------------------------------------*/
.banner-images img {
    width: 100%;
    height: 100%;
}


.banner-images {
    background-image: url('../images/banners/banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* height: 100%; */
    position: relative;
}

.overlay {
    background-color: #000000a3;
    opacity: .5;
    transition: background-color .3s,border-radius .3s,opacity .3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.banner-outer-div{
    padding: 140px 0px;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.banner-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-inner span {
    font-size: 30px;
    line-height: 50px;
}

.banner-inner h1 {
    font-size: 70px;
    line-height: 80px;
    margin: 0;
}

.banner-inner p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-bottom: 20px;
}




@media(max-width:600px) {
    .btn-primary {
        width: 160px;
        height: 42px;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .header-right {
        display: flex;
        align-items: center;
        column-gap: 3px;
    }

    header {
        padding: 18px;
    }

    select {
        width: 42px;
    }
    nav ul li {
        font-family: Bebas Neue;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-transform: uppercase;
        padding-bottom: 6px;
    }

    .social {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    .banner-inner h1 {
        font-size: 45px;
        line-height: 55px;
    }
    .banner-inner p {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
}

/*--------------------------------------------------------------
# Banner End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.white-bg {
    background-image: url('../images/white-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.contact-outer{
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 5px solid #696969;
    border-radius: 20px;
    padding: 60px;
}

.grid-contact {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.details-div {
    border: 3px solid #696969;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.div-sub-sec h6{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
}

.div-sub-sec a{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: center;
    color: #9A9A9A;
}

.div-sub-sec p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: center;
    color: #9A9A9A;
}

.head-contact{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

footer {
    padding: 38px;
    padding-bottom: 20px;
}

.footer {
    /* padding: 38px; */
    padding-top: 13px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 25px;
    border-bottom: 1px solid #fff;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    width: 47px;
    height: 47px;
}

.footer-outer-div{
    display: flex;
}

.foot-txt {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.foot-txt h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 60px;
    color: #fff;
    margin: 0;
}

.foot-txt p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    color: #fff;
    margin: 0;
}

.circle i {
    font-size: 23px;
}

.footer-last{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-icons {
    display: flex;
    column-gap: 14px;
    align-items: center;
}

.footer-icons i{
    font-size: 26px;
    color:#fff;
}

@media(max-width:1024px) {
    .grid-contact {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .foot-txt h2 {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .footer {
        column-gap: 10px;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }
    .foot-txt h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media(max-width:768px) {
    .contact-outer {
        padding: 35px;
    }
}


@media(max-width:600px) {
    .footer {
        column-gap: 10px;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
}


/*--------------------------------------------------------------
# Contact Us End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/

.menu-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    margin-bottom:80px;
}


.menu-images img {
    border-radius: 8px;
    width: 300px;
    height: 330px;
}

.menu-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.menu-inner h4 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    margin-bottom: 16px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
}


.bottom-content{
    background-image: url('../images/white-bg.png');
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 20px;
}

.bottom-content h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.2000000476837158px;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.bottom-content span{
    font-family: "Bebas Neue", sans-serif;
    color: var(--primary);
    margin-left: 20px;
}


@media(max-width:1240px) {
    .bottom-content h1 {
        font-size: 75px;
    }
}


@media(max-width:1024px) {
    .bottom-content h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .menu-grid {
        gap: 10px;
        row-gap: 40px;
    }
}

@media(max-width:991px) {
    .menu-grid {
        grid-template-columns: repeat(3,1fr);
    }
    .menu-images img {
        width: 100%;
    }
}

@media(max-width:768px) {
    .menu-grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:600px) {
    .menu-grid {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }

    .menu-images img {
        border-radius: 8px;
        width: 100%;
        height: 355px;
        object-fit: cover;
    }
    .bottom-content{
        display: none;
    }
}
/*--------------------------------------------------------------
# Menu End
--------------------------------------------------------------*/

